In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/daily_mail_articles.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GKGRECORDID  17125 non-null  object
 1   DATE         17125 non-null  object
 2   content      17125 non-null  object
dtypes: object(3)
memory usage: 401.5+ KB

In [3]:
df.head()

,GKGRECORDID,DATE,content
0,20150301010000-1303,2015-03-01,Newspaper publisher Trinity Mirror will reveal...
1,20150301010000-1308,2015-03-01,The FTSE 100 soared to a record high last week...
2,20150301010000-1311,2015-03-01,"The broadcaster ITV, which is in talks to buy ..."
3,20150301010000-572,2015-03-01,It counts Prince Harry among its customers and...
4,20150302003000-689,2015-03-02,Billionaire investor Warren Buffett has admitt...

In [4]:
from nltk.tokenize import sent_tokenize
df["sentences"] = df.content.apply(sent_tokenize)

In [5]:
# create a row for each sentence
lst_col = 'sentences'

expanded_df = pd.DataFrame({
      col:np.repeat(df[col].values, df[lst_col].str.len())
      for col in df.columns.drop(["content", lst_col])}
    ).assign(**{lst_col:np.concatenate(df[lst_col].values)})

assert len(expanded_df) == df["sentences"].str.len().sum()

In [6]:
expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332007 entries, 0 to 332006
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   GKGRECORDID  332007 non-null  object
 1   DATE         332007 non-null  object
 2   sentences    332007 non-null  object
dtypes: object(3)
memory usage: 7.6+ MB

In [7]:
expanded_df.to_csv("daily_mail_sentences.csv", index=False)

In [8]:
with open('daily_mail_sentences.txt', 'w') as f:
    for sentence in expanded_df["sentences"].to_list():
        f.write(f"{sentence}\n\n")

In [9]:
with open('daily_mail_sentences.txt', 'r') as f:
    text = f.read()

# make sure the length are same when we retokenize
assert len(text.split("\n\n")[:-1]) == len(expanded_df)